.heading
{
    width: 100%;
    margin: 0;
    font-size: 23px;
}

#note
{
    font-size: 15px;
    color: black;
}

body{
    background-size: cover;
}

.div_speed
{
    float: left;
}

.div-speed-image
{
    width: 100px;
    border-radius: 200px;
}

#speed
{
    font-size: 23px;
    margin: 15px;
}

.div_volume
{
   float: right;
}

.div-volume-image
{
   width: 100px;
   border-radius: 200px; 
}

#volume
{
    font-size: 23px;
    margin: 15px;
}

canvas{
    border: 5px solid white;
    border-radius: 20px;
    margin-top: 30px;
}

